.container .genderbtn .gendergroupbtn,
.container .agebtn .gendergroupbtn {
    grid-template-columns: 1fr 1fr;
}

.container .radiobtn .question-radio .option-section,
.container .checkbox .question-box .option-section {
    grid-template-columns: repeat(3,1fr);
}
.container .radiobtn .question-radio .option-section .option,
.container .checkbox .question-box .option-section .option {
    width: 100%;
}

.container .imagebtn .question-radio .option-section,
.container .imagebtncheckbox .question-box .option-section{
    grid-template-columns: repeat(3,1fr);
    max-height: 65vh;
}

.container .imagebtn .question-radio .option-section .optionradio, 
.container .imagebtncheckbox .question-box .option-section .optioncheckbox{
    width: 100%;
}
.container .dropdown .question-box .option-section{
    grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 768px) {
    .container .genderbtn .gendergroupbtn,
    .container .agebtn .gendergroupbtn {
        grid-template-columns: 1fr;
    }
   

    .container .radiobtn .question-radio .option-section,
.container .checkbox .question-box .option-section {
    grid-template-columns: 1fr;
}
.container .imagebtn .question-radio .option-section,
.container .imagebtncheckbox .question-box .option-section{
    grid-template-columns: 1fr;
}
.container .imagebtn .question-radio .option-section .optionradio, 
.container .imagebtncheckbox .question-box .option-section .optioncheckbox{
    width: 100%;
}
.container .dropdown .question-box .option-section{
    grid-template-columns: 1fr;
}
}